pipeline/2-adf-mi-s3-connection-noakv-func-pl2.json
{
	"name": "2-adf-mi-s3-connection-noakv-func-pl2",
	"properties": {
		"activities": [
			{
				"name": "get temp tokens AWS S3 REST",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get bearer code from ADF MI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://sts.amazonaws.com/?Action=AssumeRoleWithWebIdentity&RoleSessionName=app1&RoleArn=arn:aws:iam::',pipeline().parameters.aws_account_id,':role/', pipeline().parameters.aws_role_name,'&WebIdentityToken=', substring(activity('Get bearer code from ADF MI').output.Response,7, sub(length(activity('Get bearer code from ADF MI').output.Response),7)), '&Version=2011-06-15')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "copy data from S3 to ADLSgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get temp tokens AWS S3 REST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Binary1",
						"type": "DatasetReference",
						"parameters": {
							"accesskeyid": {
								"value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<accesskeyid>'),length('<accesskeyid>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</accesskeyid>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<accesskeyid>')), length('<accesskeyid>'))\n)",
								"type": "Expression"
							},
							"secretaccesskey": {
								"value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<secretaccesskey>'),length('<secretaccesskey>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</secretaccesskey>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<secretaccesskey>')), length('<secretaccesskey>'))\n)",
								"type": "Expression"
							},
							"sessiontoken": {
								"value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<sessiontoken>'),length('<sessiontoken>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</sessiontoken>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<sessiontoken>')), length('<sessiontoken>'))\n)",
								"type": "Expression"
							},
							"s3name": {
								"value": "@pipeline().parameters.aws_s3_copy",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLSgen2",
						"type": "DatasetReference",
						"parameters": {
							"azure_storage": {
								"value": "@pipeline().parameters.azure_storage",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get bearer code from ADF MI",
				"description": "\n# Code of Azure Function:\nimport azure.functions as func\n\ndef main(req: func.HttpRequest) -> func.HttpResponse:\n\n    return func.HttpResponse(req.headers['Authorization'])",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.azure_function_url",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().parameters.azure_application_id_uri",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"aws_account_id": {
				"type": "string",
				"defaultValue": "123456789012"
			},
			"aws_s3_copy": {
				"type": "string",
				"defaultValue": "testrbaws"
			},
			"azure_application_id_uri": {
				"type": "string",
				"defaultValue": "api://aws_azure_federate"
			},
			"aws_role_name": {
				"type": "string",
				"defaultValue": "AzureADWebIdentity3"
			},
			"azure_storage": {
				"type": "string",
				"defaultValue": "testawsadfrg8fd6"
			},
			"azure_function_url": {
				"type": "string",
				"defaultValue": "https://test-awsadf-func.azurewebsites.net/api/AWS_S3_Connect"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-18T18:16:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}